PedidoWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.v1.api.already.reqs.com.br/" name="PedidoWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.v1.api.already.reqs.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://ws.v1.api.already.reqs.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="AuthorizationFault" nillable="true" type="xs:string"/>

      <xs:element name="atualizarPedido" type="tns:atualizarPedido"/>

      <xs:element name="atualizarPedidoResponse" type="tns:atualizarPedidoResponse"/>

      <xs:element name="criarPedido" type="tns:criarPedido"/>

      <xs:element name="criarPedidoResponse" type="tns:criarPedidoResponse"/>

      <xs:element name="getPedidoById" type="tns:getPedidoById"/>

      <xs:element name="getPedidoByIdResponse" type="tns:getPedidoByIdResponse"/>

      <xs:element name="getPedidos" type="tns:getPedidos"/>

      <xs:element name="getPedidosResponse" type="tns:getPedidosResponse"/>

      <xs:element name="listaPedidoDTO" type="tns:listaPedidoDTO"/>

      <xs:element name="pedidoDTO" type="tns:pedidoDTO"/>

      <xs:element name="produtoDTO" type="tns:produtoDTO"/>

      <xs:element name="removerPedido" type="tns:removerPedido"/>

      <xs:element name="removerPedidoResponse" type="tns:removerPedidoResponse"/>

      <xs:element name="token" nillable="true" type="tns:token"/>

      <xs:complexType name="getPedidos">
        <xs:sequence>
          <xs:element name="paginacao" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="token">
        <xs:sequence>
          <xs:element name="token" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getPedidosResponse">
        <xs:sequence>
          <xs:element name="pedidos" type="tns:listaPedidoDTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listaPedidoDTO">
        <xs:sequence>
          <xs:element name="pedido" type="tns:pedidoDTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="pedidoDTO">
        <xs:sequence>
          <xs:element name="id" type="xs:long" minOccurs="0"/>
          <xs:element name="produto" type="tns:produtoDTO"/>
          <xs:element name="descricao" type="xs:string"/>
          <xs:element name="quantidade" type="xs:int"/>
          <xs:element name="dataCompra" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="produtoDTO">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="nome" type="xs:string"/>
          <xs:element name="valor" type="xs:decimal"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="criarPedido">
        <xs:sequence>
          <xs:element name="pedido" type="tns:pedidoDTO"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="criarPedidoResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="atualizarPedido">
        <xs:sequence>
          <xs:element name="pedido" type="tns:pedidoDTO"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="atualizarPedidoResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getPedidoById">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getPedidoByIdResponse">
        <xs:sequence>
          <xs:element name="pedido" type="tns:pedidoDTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="removerPedido">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="removerPedidoResponse">
        <xs:sequence/>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="getPedidos">
    <part name="parameters" element="tns:getPedidos"/>
    <part name="token" element="tns:token"/>
  </message>
  <message name="getPedidosResponse">
    <part name="result" element="tns:getPedidosResponse"/>
  </message>
  <message name="AuthorizationException">
    <part name="fault" element="tns:AuthorizationFault"/>
  </message>
  <message name="removerPedido">
    <part name="parameters" element="tns:removerPedido"/>
    <part name="token" element="tns:token"/>
  </message>
  <message name="removerPedidoResponse">
    <part name="result" element="tns:removerPedidoResponse"/>
  </message>
  <message name="criarPedido">
    <part name="parameters" element="tns:criarPedido"/>
    <part name="token" element="tns:token"/>
  </message>
  <message name="criarPedidoResponse">
    <part name="result" element="tns:criarPedidoResponse"/>
  </message>
  <message name="getPedidoById">
    <part name="parameters" element="tns:getPedidoById"/>
    <part name="token" element="tns:token"/>
  </message>
  <message name="getPedidoByIdResponse">
    <part name="result" element="tns:getPedidoByIdResponse"/>
  </message>
  <message name="atualizarPedido">
    <part name="parameters" element="tns:atualizarPedido"/>
    <part name="token" element="tns:token"/>
  </message>
  <message name="atualizarPedidoResponse">
    <part name="result" element="tns:atualizarPedidoResponse"/>
  </message>
  <portType name="PedidoWS">
    <operation name="getPedidos" parameterOrder="parameters token">
      <input wsam:Action="http://ws.v1.api.already.reqs.com.br/PedidoWS/getPedidosRequest" message="tns:getPedidos"/>
      <output wsam:Action="http://ws.v1.api.already.reqs.com.br/PedidoWS/getPedidosResponse" message="tns:getPedidosResponse"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" wsam:Action="http://ws.v1.api.already.reqs.com.br/PedidoWS/getPedidos/Fault/AuthorizationException"/>
    </operation>
    <operation name="removerPedido" parameterOrder="parameters token">
      <input wsam:Action="http://ws.v1.api.already.reqs.com.br/PedidoWS/removerPedidoRequest" message="tns:removerPedido"/>
      <output wsam:Action="http://ws.v1.api.already.reqs.com.br/PedidoWS/removerPedidoResponse" message="tns:removerPedidoResponse"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" wsam:Action="http://ws.v1.api.already.reqs.com.br/PedidoWS/removerPedido/Fault/AuthorizationException"/>
    </operation>
    <operation name="criarPedido" parameterOrder="parameters token">
      <input wsam:Action="http://ws.v1.api.already.reqs.com.br/PedidoWS/criarPedidoRequest" message="tns:criarPedido"/>
      <output wsam:Action="http://ws.v1.api.already.reqs.com.br/PedidoWS/criarPedidoResponse" message="tns:criarPedidoResponse"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" wsam:Action="http://ws.v1.api.already.reqs.com.br/PedidoWS/criarPedido/Fault/AuthorizationException"/>
    </operation>
    <operation name="getPedidoById" parameterOrder="parameters token">
      <input wsam:Action="http://ws.v1.api.already.reqs.com.br/PedidoWS/getPedidoByIdRequest" message="tns:getPedidoById"/>
      <output wsam:Action="http://ws.v1.api.already.reqs.com.br/PedidoWS/getPedidoByIdResponse" message="tns:getPedidoByIdResponse"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" wsam:Action="http://ws.v1.api.already.reqs.com.br/PedidoWS/getPedidoById/Fault/AuthorizationException"/>
    </operation>
    <operation name="atualizarPedido" parameterOrder="parameters token">
      <input wsam:Action="http://ws.v1.api.already.reqs.com.br/PedidoWS/atualizarPedidoRequest" message="tns:atualizarPedido"/>
      <output wsam:Action="http://ws.v1.api.already.reqs.com.br/PedidoWS/atualizarPedidoResponse" message="tns:atualizarPedidoResponse"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" wsam:Action="http://ws.v1.api.already.reqs.com.br/PedidoWS/atualizarPedido/Fault/AuthorizationException"/>
    </operation>
  </portType>
  <binding name="PedidoWSPortBinding" type="tns:PedidoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getPedidos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:getPedidos" part="token" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
    <operation name="removerPedido">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:removerPedido" part="token" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
    <operation name="criarPedido">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:criarPedido" part="token" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPedidoById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:getPedidoById" part="token" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
    <operation name="atualizarPedido">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:atualizarPedido" part="token" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="PedidoWSService">
    <port name="PedidoWSPort" binding="tns:PedidoWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

