PedidoWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.v1.api.already.reqs.com.br/" name="PedidoWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.v1.api.already.reqs.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://ws.v1.api.already.reqs.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="getPedido" type="tns:getPedido"/>

      <xs:element name="getPedidoResponse" type="tns:getPedidoResponse"/>

      <xs:element name="pedidoDTO" type="tns:pedidoDTO"/>

      <xs:element name="produtoDTO" type="tns:produtoDTO"/>

      <xs:complexType name="getPedido">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getPedidoResponse">
        <xs:sequence>
          <xs:element name="pedido" type="tns:pedidoDTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="pedidoDTO">
        <xs:sequence>
          <xs:element name="id" type="xs:long" minOccurs="0"/>
          <xs:element name="descricao" type="xs:string"/>
          <xs:element name="produtoDTO" type="tns:produtoDTO"/>
          <xs:element name="dataCompra" type="xs:string"/>
          <xs:element name="quantidade" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="produtoDTO">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="nome" type="xs:string"/>
          <xs:element name="valor" type="xs:decimal"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="getPedido">
    <part name="parameters" element="tns:getPedido"/>
  </message>
  <message name="getPedidoResponse">
    <part name="parameters" element="tns:getPedidoResponse"/>
  </message>
  <portType name="PedidoWS">
    <operation name="getPedido">
      <input wsam:Action="http://ws.v1.api.already.reqs.com.br/PedidoWS/getPedidoRequest" message="tns:getPedido"/>
      <output wsam:Action="http://ws.v1.api.already.reqs.com.br/PedidoWS/getPedidoResponse" message="tns:getPedidoResponse"/>
    </operation>
  </portType>
  <binding name="PedidoWSPortBinding" type="tns:PedidoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getPedido">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PedidoWSService">
    <port name="PedidoWSPort" binding="tns:PedidoWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

