ProdutoWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.v1.api.already.reqs.com.br/" name="ProdutoWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.v1.api.already.reqs.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://ws.v1.api.already.reqs.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="AuthorizationFault" nillable="true" type="xs:string"/>

      <xs:element name="criar" type="tns:criar"/>

      <xs:element name="criarResponse" type="tns:criarResponse"/>

      <xs:element name="getProdutoById" type="tns:getProdutoById"/>

      <xs:element name="getProdutoByIdResponse" type="tns:getProdutoByIdResponse"/>

      <xs:element name="listaProdutoDTO" type="tns:listaProdutoDTO"/>

      <xs:element name="produtoDTO" type="tns:produtoDTO"/>

      <xs:element name="todosOsProdutos" type="tns:todosOsProdutos"/>

      <xs:element name="todosOsProdutosResponse" type="tns:todosOsProdutosResponse"/>

      <xs:element name="token" nillable="true" type="tns:token"/>

      <xs:complexType name="todosOsProdutos">
        <xs:sequence>
          <xs:element name="paginacao" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="token">
        <xs:sequence>
          <xs:element name="token" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="todosOsProdutosResponse">
        <xs:sequence>
          <xs:element name="produtos" type="tns:listaProdutoDTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listaProdutoDTO">
        <xs:sequence>
          <xs:element name="produto" type="tns:produtoDTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="produtoDTO">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="nome" type="xs:string"/>
          <xs:element name="valor" type="xs:decimal"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="criar">
        <xs:sequence>
          <xs:element name="produto" type="tns:produtoDTO"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="criarResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getProdutoById">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getProdutoByIdResponse">
        <xs:sequence>
          <xs:element name="produto" type="tns:produtoDTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="todosOsProdutos">
    <part name="parameters" element="tns:todosOsProdutos"/>
    <part name="token" element="tns:token"/>
  </message>
  <message name="todosOsProdutosResponse">
    <part name="result" element="tns:todosOsProdutosResponse"/>
  </message>
  <message name="AuthorizationException">
    <part name="fault" element="tns:AuthorizationFault"/>
  </message>
  <message name="getProdutoById">
    <part name="parameters" element="tns:getProdutoById"/>
    <part name="token" element="tns:token"/>
  </message>
  <message name="getProdutoByIdResponse">
    <part name="result" element="tns:getProdutoByIdResponse"/>
  </message>
  <message name="criar">
    <part name="parameters" element="tns:criar"/>
    <part name="token" element="tns:token"/>
  </message>
  <message name="criarResponse">
    <part name="result" element="tns:criarResponse"/>
  </message>
  <portType name="ProdutoWS">
    <operation name="todosOsProdutos" parameterOrder="parameters token">
      <input wsam:Action="http://ws.v1.api.already.reqs.com.br/ProdutoWS/todosOsProdutosRequest" message="tns:todosOsProdutos"/>
      <output wsam:Action="http://ws.v1.api.already.reqs.com.br/ProdutoWS/todosOsProdutosResponse" message="tns:todosOsProdutosResponse"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" wsam:Action="http://ws.v1.api.already.reqs.com.br/ProdutoWS/todosOsProdutos/Fault/AuthorizationException"/>
    </operation>
    <operation name="getProdutoById" parameterOrder="parameters token">
      <input wsam:Action="http://ws.v1.api.already.reqs.com.br/ProdutoWS/getProdutoByIdRequest" message="tns:getProdutoById"/>
      <output wsam:Action="http://ws.v1.api.already.reqs.com.br/ProdutoWS/getProdutoByIdResponse" message="tns:getProdutoByIdResponse"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" wsam:Action="http://ws.v1.api.already.reqs.com.br/ProdutoWS/getProdutoById/Fault/AuthorizationException"/>
    </operation>
    <operation name="criar" parameterOrder="parameters token">
      <input wsam:Action="http://ws.v1.api.already.reqs.com.br/ProdutoWS/criarRequest" message="tns:criar"/>
      <output wsam:Action="http://ws.v1.api.already.reqs.com.br/ProdutoWS/criarResponse" message="tns:criarResponse"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" wsam:Action="http://ws.v1.api.already.reqs.com.br/ProdutoWS/criar/Fault/AuthorizationException"/>
    </operation>
  </portType>
  <binding name="ProdutoWSPortBinding" type="tns:ProdutoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="todosOsProdutos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:todosOsProdutos" part="token" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProdutoById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:getProdutoById" part="token" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
    <operation name="criar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:criar" part="token" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ProdutoWSService">
    <port name="ProdutoWSPort" binding="tns:ProdutoWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

