ProdutoWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.v1.api.already.reqs.com.br/" name="ProdutoWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.v1.api.already.reqs.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://ws.v1.api.already.reqs.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="getAll" type="tns:getAll"/>

      <xs:element name="getAllResponse" type="tns:getAllResponse"/>

      <xs:element name="getProdutoById" type="tns:getProdutoById"/>

      <xs:element name="getProdutoByIdResponse" type="tns:getProdutoByIdResponse"/>

      <xs:element name="listaProdutoDTO" type="tns:listaProdutoDTO"/>

      <xs:element name="produtoDTO" type="tns:produtoDTO"/>

      <xs:element name="token" nillable="true" type="tns:token"/>

      <xs:complexType name="getProdutoById">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="token">
        <xs:sequence>
          <xs:element name="token" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getProdutoByIdResponse">
        <xs:sequence>
          <xs:element name="produto" type="tns:produtoDTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="produtoDTO">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="nome" type="xs:string"/>
          <xs:element name="valor" type="xs:decimal"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getAll">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getAllResponse">
        <xs:sequence>
          <xs:element name="produtos" type="tns:listaProdutoDTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listaProdutoDTO">
        <xs:sequence>
          <xs:element name="produto" type="tns:produtoDTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="getAll">
    <part name="parameters" element="tns:getAll"/>
    <part name="token" element="tns:token"/>
  </message>
  <message name="getAllResponse">
    <part name="result" element="tns:getAllResponse"/>
  </message>
  <message name="getProdutoById">
    <part name="parameters" element="tns:getProdutoById"/>
    <part name="token" element="tns:token"/>
  </message>
  <message name="getProdutoByIdResponse">
    <part name="result" element="tns:getProdutoByIdResponse"/>
  </message>
  <portType name="ProdutoWS">
    <operation name="getAll" parameterOrder="parameters token">
      <input wsam:Action="http://ws.v1.api.already.reqs.com.br/ProdutoWS/getAllRequest" message="tns:getAll"/>
      <output wsam:Action="http://ws.v1.api.already.reqs.com.br/ProdutoWS/getAllResponse" message="tns:getAllResponse"/>
    </operation>
    <operation name="getProdutoById" parameterOrder="parameters token">
      <input wsam:Action="http://ws.v1.api.already.reqs.com.br/ProdutoWS/getProdutoByIdRequest" message="tns:getProdutoById"/>
      <output wsam:Action="http://ws.v1.api.already.reqs.com.br/ProdutoWS/getProdutoByIdResponse" message="tns:getProdutoByIdResponse"/>
    </operation>
  </portType>
  <binding name="ProdutoWSPortBinding" type="tns:ProdutoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:getAll" part="token" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProdutoById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:getProdutoById" part="token" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ProdutoWSService">
    <port name="ProdutoWSPort" binding="tns:ProdutoWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

